<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
</head>
<body>
  <h1>Hello my name is {{ name }}</h1>
	<main>
		<img src="me.jpg" alt="Me" width="200">
		
		<div id="about">
			<section>
				<p>Nama</p>
				<p>{{ name }}</p>
			</section>
			<section>
				<p>Tempat, tanggal lahir</p>
				<p>Tanjungbalai, 5 November 1999</p>
			</section>
			<section>
				<p>Usia</p>
				<p>{{ age }}</p>
			</section>
			<section>
				<p>Asal Daerah</p>
				<p>Tanjungbalai</p>
			</section>
			<section>
				<p>Pendidikan saat ini</p>
				<p>Mahasiswa S1 Universitas Islam Negeri Sumatera Utara (Sistem Informasi)</p>
			</section>
			<section>
				<p>Harapan mengikuti kelas ini</p>
				<p>Bisa membuat web app dengan python menggunakan framework django</p>
			</section>
		</div>

		<div style="clear: both;"></div>

		<div id="social-media">
			<a href="http://wa.me/6283190959109"><img src="whatsapp.png" alt=""></a>
			<a href="https://web.facebook.com/rahmatst05"><img src="facebook.png" alt=""></a>
			<a href="https://www.instagram.com/rahmatst05"><img src="instagram.png" alt=""></a>
			<a href="mailto:rr7465457@gmail.com"><img src="google-plus.png" alt=""></a>
			<a href="https://rahmat-st.github.io"><img src="github.png" alt=""></a>
		</div>
	</main>
</body>
</html>
