* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f0f0f0;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	color: #e8110b;
	font-family: georgia;
	padding: 18px;
	box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, .5);
	border-radius: 10px;
	overflow: hidden;
}

main > img {
	border: 5px solid #d77370;
	float: left;
	margin-right: 16px;
}

main > div#about > section {
	margin-bottom: 18px;
}

main > div#about > section > p {
	font-size: 1.1rem;
}

main > div#about > section > p:first-child {
	color: #d77370;
	font-size: .8rem;
	font-weight: bold;
	margin-bottom: 4px;
}

div#social-media {
	margin-top: 24px;
	text-align: center;
}

div#social-media > a {
	margin: 24px;
}